
.content{
    margin: 100px 100px;
    padding: 10px 50px;
}

h3{
    color:#2C3F8F ;
}

button{
    background-color:#2C3F8F !important;
    border: #2C3F8F !important;
    color: #A6D2F9 !important;
}