
.content{
    margin: 100px 100px;
    padding: 10px 50px;
}

h3{
    color:#2C3F8F;
    font-weight: bold;
}

.card-img{
    height: 200px;
    width: 250px;
    margin-right: 10px;
    float: left;
}

button{
    background-color:#2C3F8F !important;
    border: #2C3F8F !important;
    color: #A6D2F9 !important;
}